Flask==3.0.3
flask-cors==4.0.1
Flask-JWT-Extended==4.6.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.32
Werkzeug==3.0.4
bcrypt==4.2.0
PyJWT==2.9.0
requests==2.32.3
python-dotenv==1.0.1
gunicorn==22.0.0
scikit-learn==1.5.1
pandas==2.2.3
numpy==1.26.4
joblib==1.4.2
shap==0.46.0
web3==6.20.3
python-whois==0.9.4
psycopg2-binary==2.9.9
